<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <div class="col-lg-6 d-none d-lg-block login-image"></div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-4">¡Bienvenido!</h1>
                              </div>
                              <form
                                *ngIf="!isLoggedIn"
                                name="form"
                                (ngSubmit)="f.form.valid && onSubmit()"
                                class="user"
                                #f="ngForm"
                                novalidate>
                                  <div class="form-group">
                                      <input
                                      name="username"
                                      type="email"
                                      class="form-control form-control-user"
                                      [(ngModel)]="form.username"
                                      required
                                      #username="ngModel"
                                      placeholder="Introduce tu correo...">
                                  </div>

                                  <div
                                  class="alert alert-danger"
                                  role="alert"
                                  *ngIf="f.submitted && username.invalid"
                                  >
                                  Introduce tu correo electrónico
                                  </div>

                                  <div class="form-group">
                                      <input
                                      type="password"
                                      name="password"
                                      class="form-control form-control-user"
                                      required
                                      [(ngModel)]="form.password"
                                      #password="ngModel"
                                      placeholder="Contraseña...">
                                  </div>

                                  <div
                                    class="alert alert-danger"
                                    role="alert"
                                    *ngIf="f.submitted && password.invalid"
                                  >
                                    <div *ngIf="password.errors">Introduce tu contraseña</div>
                                  </div>
                                  <button type="submit" class="btn btn-primary btn-user btn-block">
                                      Login
                                  </button>
                                  <div
                                  class="alert alert-danger"
                                  role="alert"
                                  *ngIf="f.submitted && isWrongDataAccess"
                                  >
                                      Error al acceder, comprueba tus datos de acceso
                                </div>
                                </form>

                              <div class="alert alert-success p-2" *ngIf="isLoggedIn">
                                Sesión iniciada!
                              </div>
                              <hr>
                              <div class="text-center">
                                  <a class="small" href="forgot">Recuperar contraseña</a>
                              </div>
                              <div class="text-center">
                                  <a class="small" href="register">¡Crear cuenta!</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

