  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
      <div class="sidebar-brand-icon">
        <i class="fas fa-university"></i>
      </div>
      <div class="sidebar-brand-text mx-3">colloquium</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <br>
    <!-- Heading -->
    <div class="sidebar-heading">
      <h6>Empresa</h6>
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
    <a class="nav-link" href="home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Panel</span></a>
    </li>

      <!-- Nav Item  -->
    <li class="nav-item">
      <a class="nav-link" href="job/list-job">
          <i class="fas fa-fw fa-briefcase"></i>
          <span>Empleos</span></a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
      <a class="nav-link" href="candidate/list-candidate">
          <i class="fas fa-fw fa-user-friends"></i>
          <span>Candidatos</span></a>
    </li>

    <!-- Nav Item -->
    <li class="nav-item">
      <a class="nav-link" href="skill/list-skill">
          <i class="fas fa-fw fa-cogs"></i>
          <span>Habilidades</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    <h6>Candidatos</h6>
  </div>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
  <a class="nav-link" href="main">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Panel</span></a>
  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="job/list-applied-job">
        <i class="fas fa-fw fa-table"></i>
        <span>Candidaturas</span></a>
  </li>

  </ul>
  <!-- End of Sidebar -->
