<div id="wrapper">

  <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <app-topbar></app-topbar>

        <!-- main component -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Candidaturas activas</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                      <tr>
                          <th>Título oferta</th>
                          <th>Fecha Inscripción</th>
                          <th>Fecha Entrevista</th>
                          <th>Nota Test</th>
                          <th>Acciones</th>
                      </tr>
                      </thead>
                      <tfoot>
                          <tr>
                            <th>Título oferta</th>
                            <th>Fecha Inscripción</th>
                            <th>Fecha Entrevista</th>
                            <th>Nota Test</th>
                            <th>Acciones</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr *ngFor="let candidateposition of candidatePosition | async">
                              <td>{{candidateposition.position.title}}</td>
                              <td>{{candidateposition.registryDate| date:"HH:mm dd/MM/yy":'EST'}}</td>
                              <td>{{candidateposition.testDate| date:"HH:mm dd/MM/yy":'GMT'}}</td>
                              <td>{{candidateposition.result}}</td>
                              <td class="d-flex justify-content-around">
                                  <button title="Hacer test" class="btn btn-warning">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                  <button title="+ Info"  class="getSpace btn btn-primary">
                                    <i class="fas fa-info"></i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
        <!-- End of main component  -->

        <app-footer></app-footer>

      </div>
      <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

  <app-logout></app-logout>

</div>
<!-- End of Page Wrapper -->
