  <!-- Delete Modal-->
  <div class="modal fade" id="deleteModalCandidatura" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="">¿Estás seguro de eliminar el elemento seleccionado?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="#">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
   <!-- End of Logout Modal-->
